<blockquote>
  <p>This is a really small cinema!</p>

  <p>Let users pick seats and count them in <i>selected</i> counter.</p>

  <p>Hide seats and show the final cost after user clicks <i>buy</i> button.</p>
</blockquote>

<ng-container *ngIf="finalCost$ | async as finalCost; else choseTemplate">
  <section class="final-cost">Final cost is $ {{ finalCost }}</section>
</ng-container>

<ng-template #choseTemplate>
  <h3>Choose your seats</h3>

  <ng-container *ngIf="selected$ | async as selected">
    <section class="cinema" *ngIf="!(purchase$ | async)">
      <button
        *tuiRepeatTimes="let index of 10"
        class="seat"
        [ngClass]="{ 'seat--selected': selected[index] }"
        (click)="select$.next(index)"
      >
        {{ index + 1 }}
      </button>
    </section>

    Selected: {{ getValues(selected).length }}
  </ng-container>

  <button class="buy" (click)="buyBtnClick$.next()">Buy</button>
</ng-template>
